.menu-bar {
    color: white;
    display: flex;
    justify-content: start;
    align-items: stretch;
    margin: 1em 2em; 
    border-bottom: 1px solid #333; 
  }
  
  .menu-bar h1 {
    margin: 0; 
    display: flex;
    align-items: center; 
    padding-right: 1em;
  }
  
  .menu-item {
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    text-decoration: none;
    padding: 1em 1em; 
    color: white; 
  }

.menu-item:hover,
.menu-item.active {
    border-bottom: 3px solid #00BFFF;
    color: #00BFFF;
}